<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400381829202-98ci51nm10rt3q89p2rnglsgltd156iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400381829202-98ci51nm10rt3q89p2rnglsgltd156iv</string>
	<key>API_KEY</key>
	<string>AIzaSyC55kkwcUuDe_ewegO56eYaTB1eiLA6Yro</string>
	<key>GCM_SENDER_ID</key>
	<string>400381829202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stim.sa96125</string>
	<key>PROJECT_ID</key>
	<string>stim-f8600</string>
	<key>STORAGE_BUCKET</key>
	<string>stim-f8600.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400381829202:ios:2405a6d160feb546977f8b</string>
</dict>
</plist>